@import "../../styles/color";
.blogType{
  margin: auto;
  max-width: 960px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
}
.blogTypeItem{
  height: 45px;
  line-height: 45px;
  color: $text-2;
  cursor: pointer;
  padding: 0 10px;
  font-size: 13px;
}

.blogTypeItemInner{
  box-shadow: 1px 3px 5px 1px #e1e1e1;
  max-width: 200px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  background: #ffffff;
}
.blogTypeItemInnerName:hover{
  color: $primary-color;
}
.blogTypeItemInnerItem{
  height: 18px;
  line-height: 18px;
  display: inline-block;
  font-size: 12px;
  flex-shrink: 0;
  color: $text-3;
  border: 1px solid $text-4;
  border-radius: 5px;
  padding: 2px 5px;
  margin: 5px 7px;
}
.blogTypeItemInnerItem:hover{
  color: $primary-color;
  border-color: $primary-color;
}
