@import url('//at.alicdn.com/t/font_2979634_1h755vgsbpl.css');
@import '~highlight.js/styles/github.css';
@import '~github-markdown-css';
.border-bottom{
  border-bottom: 1px solid #f1f1f1;
}
.ellipsis1{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bg-white{
  background: #ffffff;
}
.hljs-line-numbers {
  text-align: right;
  //以下3行要加 !important 来避免样式覆盖
  border-right: 1px solid #ccc !important;
  margin-right: 10px !important;
  padding-right: 5px !important;
  color: #999;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

