@import url('//at.alicdn.com/t/font_2979634_jwjtuotbg4j.css');
@import '~highlight.js/styles/github.css';
@import '~github-markdown-css';
.border-bottom{
  border-bottom: 1px solid #f1f1f1;
}
.ellipsis1{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bg-white{
  background: #ffffff;
}
.width100{
  width: 100%;
}
.blog_login{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog_login--logo{
  width: 24px;
  margin-bottom: 10px;
}
.blog_login--title{
  font-size: 13px;
  margin-bottom: 10px;
}
